<div class="body">
  <form action="/boards/<%= @board_id %>/channels" method="POST">
    <input type="text" name="channel[twitter_handle]" placeholder="Add a Twitter Handle @username">
    <input type="submit" name="Follow a Channel">
  </form>

</div>