<div class="body">
  <form action="/tweet/search" method="GET">
    <input type="text" name="tweet">
    <input type="submit" value="search">
  </form>

  <ul>
    <% @display_tweets.each do |t| %>
    <li><%= t %></li>
    <% end %>
  </ul>

</div>