.body {
  margin: 40px 40px 40px 40px;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.img_responsive {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  background-color: #26c6da; 
}

.logo-link {
  margin-left: 40px;
}
/*.card {
  display: inline-block;
  overflow: visible;
}*/
