<div class="body">
  <form action="/boards" method="POST">
    <input type="text" name="board[name]" placeholder="Add a Board">
    <input type="text" name="board[search_keyword]" placeholder="Add a Keyword">
    <input type="submit" name="Make A Board">
  </form>

</div>